/*Pallets*/


/*Rock pallet*/
.backround-rock{
  background-color: #ffddba;
}

.hover-rock :hover{
    background-color: #d9ae8e;
    border-radius: 30%;
}
.body-rock{
  background-color: #9f8d8d
}
.text-rock{
  color: #232220;
}

/*Ocean Pallet*/
.backround-ocean{
  background-color: #daeaf7;
}

.hover-ocean :hover{
    background-color: #4fa5d8;
    border-radius: 30%;
}
.body-ocean{
  background-color: #0855b1
}
.text-ocean{
  color: #00022b;
}



/**/

/**/

/**/