@import "tailwindcss";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.demoPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 24px;
  height: 100%;
}
